%h1 Log in

.col-md-4.col-md-offset-4
  = form_for(:session, url: login_path) do |f|

    = f.label :email
    = f.email_field :email, class: 'form-control'

    = f.label :password
    = f.password_field :password, class: 'form-control'

    = f.submit "Log in", class: "btn btn-primary btn-block"
