%h2{:align => "center"} Listing News
%p{:align => "center"}
  = link_to "Create news", new_admin_news_path, |
    class: "btn btn-large btn-primary"
%table#article_and_news_table.table.table-striped
  %tr
    %th Id
    %th{:width => "200px"} Title
    %th{:width => "300px"} Text
    %th Create_at
    %th Actions
  - @news.each do |new|
    %tr
      %td
        = new.id
      %td
        = truncate(new.title, length: 100)
      %td
        = truncate(new.body, length: 140)
      %td
        = new.created_at
      %td
        = link_to 'Show', admin_news_path(new), class: "btn btn-default" ,id: "btn_show"
        = link_to 'Edit', edit_admin_news_path(new), class: "btn btn-info", id: "btn_edit"
        = link_to 'Destroy', admin_news_path(new), class: "btn btn-danger", id: "btn_destroy", |
          method: :delete,                                                                     |
          data: { confirm: 'Are you sure?' }
#boot_pagination
  = will_paginate @collection, renderer: BootstrapPagination::Rails
%br/