#articles_and_news_pages
  %h2{:align => "center"} Create News
  = form_for :news, url: admin_news_index_path do |f|
    - if @news.errors.any?
      #error_explanation
        %h2
          = pluralize(@news.errors.count, "error")
          prohibited
          this news from being saved:
        %ul
          - @news.errors.full_messages.each do |msg|
            %li
              = msg
    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :body
      = f.text_area :body, rows: 10, cols: 50
    %p
      = f.submit "Create", class: "btn btn-primary btn-block", id: "btn_create"
      = link_to 'Back', 'javascript:history.back()',  class: "btn btn-primary btn-block", id: "btn_back"