%h2{:align => "center"} Editing article
= form_for :article, url: admin_article_path, method: :patch do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :text
    %br/
    = f.text_area :text, rows: 10, cols: 50
  %p
    = f.submit
%p= link_to 'Back', 'javascript:history.back()'