%h2{:align => "center"} Listing Articles
%p{:align => "center"}
  = link_to "New article", new_admin_article_path, |
    class: "btn btn-large btn-primary"
%table#article_and_news_table.table.table-striped
  %tr
    %th Id
    %th{:width => "200px"} Title
    %th{:width => "300px"} Text
    %th Create_at
    %th Actions
  - @articles.each do |article|
    %tr
      %td
        = article.id
      %td
        = truncate(article.title, length: 100)
      %td
        = truncate(article.text, length: 140)
      %td
        = article.created_at
      %td
        = link_to 'Show', admin_article_path(article), class: "btn btn-default" ,id: "btn_show"
        = link_to 'Edit', edit_admin_article_path(article), class: "btn btn-info", id: "btn_edit"
        = link_to 'Destroy', admin_article_path(article), class: "btn btn-danger", id: "btn_destroy", |
          method: :delete,                                                                            |
          data: { confirm: 'Are you sure?' }
#boot_pagination
  = will_paginate @collection, renderer: BootstrapPagination::Rails
%br/