%body.i
  #login
    %h2
      %span.fontawesome-lock>
      Edit profile
    %fieldset
      = form_for(@user) do |f|
        = f.label :first_name
        = f.text_field :first_name, class: "form-control"
        = f.label :last_name
        = f.text_field :last_name, class: "form-control"
        = f.label :full_name
        = f.text_field :full_name, class: "form-control"
        = f.label :email
        = f.text_field :email, class: "form-control"
        = f.label :password
        = f.password_field :password, class: "form-control"
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation, class: "form-control"
        %p= f.submit "Save changes"
        %button.btn.btn-default.navbar-btn{:type => "button"} Cancel